[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2021.5.30"
click = "==8.0.1"
joblib = "==1.0.1"
nltk = "==3.6.2"
numpy = "*"
torch = "==1.9.0"
regex = "==2021.4.4"
scikit-learn = "*"
scipy = "*"
threadpoolctl = "==2.1.0"
tqdm = "==4.61.1"
typing-extensions = "==3.10.0.0"
python-dotenv = "*"
captum = "*"
torchtext = "==0.6.0"
spacy = "*"
blis = "*"
shap = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.9"
